<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Usertype
          </th>
          <th>
          
          </th>
          <th>
            
          </th>
        </tr>
        <tr>
            <td>
              {{user.username}}
            </td>
            <td>
              {{user.password}}
            </td>
            <td>
              {{user.usertype}}
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
          </tr>
        <tr>
          <td>
            <input [(ngModel)]="user.username">
          </td>
          <td>
            <input [(ngModel)]="user.password">
          </td>
          <td>
            <select [(ngModel)]="user.usertype">
              <option [selected]="user.usertype===USER" value="USER">USER</option>
            </select>
          </td>
          <td>
            <button (click)=update(user)>Save</button>
          </td>
          <td>
            <button (click)="delete(user)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>