<div class="container">
 <div class="row mt-5">
   <div class= "col-md-1">

   </div>

   <div class="col-md-10">
     <table>
       <tr>
         <th>
           Title
         </th>
         <th>
           Author
         </th>
         <th>
           Years
         </th>
         <th>
           Album
         </th>
      </tr>
      
      <tr *ngFor="let album of albums">
        <td>
          {{album.title}}
        </td>
        <td>
          {{album.author}}
        </td>
        <td>
          {{album.year}}
        </td>
        <td>
          <button (click)=open(album)>Open</button>
        </td>
      </tr>
     </table>
   </div>
   <div class="col-md-1">
     
   </div>
 </div>
</div>